* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'jost', sans-serif;
    list-style: none;
    text-decoration: none;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.logo {
    width: 100px;
    height: 55px;
    overflow: hidden;
    display: inline-block;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navmenu {
    display: flex;
}

.navmenu a {
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42 ease;
}

.navmenu a:hover {
    color: #ee1c47;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon i {
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42 ease;
}

.nav-icon i:hover {
    transform: scale(1.1);
    color: #ee1c47;
}

#menu-icon {
    display: none;
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}

.main-heroimgContainer {
    width: 400px;
    height: 100%;
}

section {
    padding: 5% 10%;
}

.main-home {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.main-text h5 {
    color: #ee1c47;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}

.main-text h1 {
    color: #000;
    font-size: 6rem;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}

.main-text p {
    color: #333c56;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

.main-btn {
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}

.main-btn:hover {
    background-color: #000;
    color: #fff;
}

.btnMain {
    display: inline-block;
    align-items: center;
    position: relative;
    width: 150px;
}

.down-arrow {
    position: absolute;
    bottom: 15%;
    right: 2%;
    width: 50px;
    height: 50px;
    border: 1px solid #2c2c2c;
    border-radius: 50px;
    overflow: hidden;
}

.iconBox {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.iconBox>a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.down i {
    font-size: 2rem;
    color: #2c2c2c;
    position: absolute;
}

#iconDown {
    animation: goDown 2s linear infinite;
}

@keyframes goDown {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}


header {
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.274);
    padding: 10px 10px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

/* trending-section-css*/
.trending-product {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.center-text h2 {
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}

.center-text span {
    color: #ee1c47;
    margin-left: 5px;
}

#main-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.products {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    justify-content: center;
    padding: 5px 0px;
    flex-wrap: wrap;
    gap: 1rem;
}

.productImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: all 0.3s linear;
}

.productImg:hover {
    transform: scale(1.125);
    cursor: pointer;
}

.imgBox {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.row {
    display: flex;
    padding: 5px;
    border-radius: 4px;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    position: relative;
    width: 347px;
    height: 430px;
    border: 1px solid rgba(230, 228, 228, 0.692);
    flex-shrink: 0;
}

.product-text {
    position: absolute;
    top: 13px;
    left: 13px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #27b737;
    padding: 3px 10px;
    border-radius: 2px;
}

.heart-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
}

.heart-icon>i {
    color: black;
    cursor: pointer;
}

.ratting i {
    color: #ff8c00;
    font-size: 18px;
}

.price h4 {
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}

.price p {
    color: #151515;
    font-size: 14px;
    font-weight: 600;
}

.client-reviews {
    background-color: #f3f4f6;
}

.reviews {
    text-align: center;
}

.reviews h3 {
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}

.reviews img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 10px 0;
}

.reviews p {
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}

.reviews h2 {
    font-size: 22px;
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 2px;
}

/* update-section-css */
.up-center-text h2 {
    text-align: center;
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 30px;
}

.cart img {
    width: 380px;
    height: 400px;
    border-radius: 10px;
}

.update-cart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.cart {
    border-radius: 10px;
}

.cart h5 {
    color: #636872;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}

.cart h4 {
    color: #111;
    font-size: 18px;
    font-weight: 600;
}

.cart {
    overflow: hidden;
}

.cart p {
    color: #707070;
    font-size: 15px;
    max-width: 380px;
    line-height: 25px;
    margin-bottom: 12px;
}

.cart h6 {
    color: #151515;
    font-size: 14px;
    font-weight: 500;
}

/* contact-section */
.contact {
    background-color: #f3f4f6;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}

.first-info img {
    width: 140px;
    height: auto;
}

.contact-info h4 {
    color: #212529;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact-info p {
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}

.contact-info p:hover {
    color: #ee1c47;
}

#icon {
    font-size: 25px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all 0.3s ease;
}

.btnMain:hover #icon {
    right: 5px;
    color: white;
    font-weight: normal;
}

.social-icon i {
    color: #565656;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}

.main-btn {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.social-icon i:hover {
    transform: scale(1.3);
}

.end-text {
    background-color: #edfff1;
    text-align: center;
    padding: 20px;
}

.end-text p {
    color: #111;
    text-transform: capitalize;
}

/* Responsive-css */
@media(max-width:890px) {
    .header {
        padding: 10px;
    }
}

@media(max-width:630px) {
    .main-text h1 {
        font-size: 50px;
        transition: .4s;
    }

    .main-home {
        flex-direction: column;
        position: relative;
    }

    .content-main {
        position: absolute;
        width: 100%;
        bottom: 0%;
        padding: 5px 10px;
    }

    .main-text {
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.418);
    }

    .down-arrow{
        bottom: 0%;
        right: 25px;
    }
    .main-heroimgContainer {
        width: 100%;
        height: 100%;
    }

    .main-heroimgContainer>img {
        width: 100%;
        height: 100%;
    }

    .main-text p {
        font-size: 18px;
        transition: .4s;
    }

    .main-btn {
        padding: 10px 20px;
        transition: .4s;
    }

    .trending-product {
        margin-top: 2rem;
    }

    .center-text>h2 {

        font-size: 25px;
        margin-bottom: 0px;
        padding: 5px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.575);
    }

    .row {
        width: 190px;
        height: 267px;
    }




}

@media(max-width:750px) {
    #menu-icon {
        display: block;
    }

    .navmenu {
        position: absolute;
        top: 100%;
        right: -100%;
        transition: all 0.5s linear;
        width: 200px;
        height: 100vh;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 3rem;
        row-gap: 5rem;
    }
}

@media (max-width :900px) {
    .update-cart {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0px;
        row-gap: 2rem;
        place-items: center;
    }
    .cart img {
        width: 100%;
        height: 325px;
    }

    .cart{
        width: 100%;
        height: 100%;
    }
}

@media (max-width : 500px) {
    .row{
        width: 347px;
    height: 430px;
    }
    .products{
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
     
}
